@model IEnumerable<MMW.Aplicacao.ViewModels.EstoqueViewModel>

@{
    ViewData["Title"] = "Estoque";
}

<div class="row">
    <div class="col-lg-12">
        <div class="img-thumbnail">
            <h4>Produto</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Produto.Descricao)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstOrDefault().Produto.Descricao)
                </dd>
            </dl>
        </div>
    </div>
</div>

<h1>Estoque</h1>
<table class="table">
    <thead>
        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.Loja.Fantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.localizacao)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.DataInclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.Loja.Fantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localizacao)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.DataInclusao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAlteracao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id })                
            </td>
        </tr>
}
    </tbody>
</table>
